body {
    background-color: #F6F7F8 !important;
    font-family: 'Inter', sans-serif !important;
    overflow-x: hidden;
}
.fs-20 {
    font-size: 20px;
}
.headline {
    margin-top: 206px;
    margin-left: 328px;
    margin-bottom: 52px;
    max-width: 992px;
}
h1 {
    font-size: 61px !important;
    font-weight: 700 !important;
    margin-bottom: 48px !important;
}
.taskboard {
    margin-left: 328px;
    max-width: 992px;
    height: 702px;
    display: flex;
}
.plus-button {
    border: 2px solid #2A3647;
    height: 24px;
    width: 24px;
    cursor: pointer;
}
.plus-button:hover {
    border-color: #29ABE2;
}
.plus-button:hover svg path {
    stroke: #29ABE2;
}
.board_column {
    width: 264px;
}
.column-title {
   color: #42526E;
   margin-bottom: 16px;
}
.no-task-container {
    background: #e7e7e7;
    height: 48px;
    border: 2px dashed #A8A8A8;
}
.no-task-color {
    color: #A8A8A8;
}
.testcard {
    min-height: 196px;
    padding: 16px;
    box-shadow: 0px 0px 10px 3px #00000014;
    cursor: pointer;
}
.card-priority {
    padding: 4px 16px;
}
.technical-task {
    background: #1FD7C1;
}
.user-story {
    background: #0038FF;
}
.detail-color {
    color: #2A3647;
}
.description-color {
    color: #A8A8A8;
}
.subtask-container {
  font-size: 12px;
}
.title {
    max-width: 264px;
}
.detailed-task {
    z-index: 3;
    width: 525px;
    top: 10vh;
    right: 50vh;
    box-shadow: 0px 0px 4px 0px #00000029;
    background-color: white;
    padding: 48px 40px 48px 40px;
    transform: translateX(1000px);
    transition: all ease-in 200ms;
}
.show-task {
    transform: translateX(0);
}
.detailed-priority {
    padding: 4px 24px;
    font-size: 23px;
}
.clear-button {
    height: 24px;
    width: 24px;
    cursor: pointer;
}
.clear-button:hover {
    background: #D9D9D9;
}
.clear-img {
    width: 14px;
    height: 14px;
    margin-left: 1px;
}
.fs-61 {
    font-size: 61px;
}
.fs-20 {
    font-size: 20px;
}
.mb-12 {
    margin-left: 12px;
}
.subtask-boxes {
    padding: 6px 16px;
}
.subtask-boxes:hover {
    background: #EEEEEE;
}
.edit-boxes:hover {
    font-weight: bold;
    color: #29ABE2;
    cursor: pointer;
}
.edit-boxes:hover svg path{
    fill: #29ABE2;
}
.separator {
    border: 1px solid #D1D1D1;;
    height: 24px;
}

/* dark bg for detailed Task */
.dimmed-bg {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}
