.headlineSummary {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 48px;
}

.borderHead {
    height: 100%;
    width: 3px;
    background-color: #29ABE2;
    margin-left: 16px;
    margin-right: 16px;
}

.summaryPage {
    margin-left: 320px;
    margin-top: 240px;

}

.summaryBody {
    background-color: #F6F7F8;
}

.headlineSummary {
    font-weight: bold;
    font-size: 64px;
}

.headlineSummar2 {
    font-size: 24px;
}

.allSummaryContent {
    display: flex;
    margin-top: 64px;
}

.taskOrder {
    display: flex;
    justify-content: space-between;
}

.taskSummary {
    height: 150px;
    width: 150px;
    border-radius: 32px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    box-shadow: 0 0 10px #dddddd;
    transition: all .2s ease-in-out;
}

.taskSummary:hover{
    background-color:#2A3647 ;
    color: #FFFFFF;
    transform: scale(1.1);
}

.summaryTaskContent {
    width: 500px;
    height: 500px;
}

.bigNumber {
    font-size: 48px;
    font-weight: bold;
}

.spanSummary {
    text-align: center;
    font-size: 20px;
}

.morningContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 64px;
}