<header>
    <span class="header-headline">Kanban Project Management Tool</span>
    <div class="frame42">
        <div class="bounding-box-help">
            <img src="../../img/help.png" alt="help-icon" class="help">
        </div>      
        <div class="user-profile-initials">
            <img src="../../img/Ellipse 3.png" alt="ellipse" class="ellipse">
            <div class="frame31">
                <img src="../../img/G.png" alt="" class="header-user">
            </div>
        </div>
    </div>
</header>