<div class="menu">
    <img src="../../img/menu-join.png" alt="Join-Logo" class="menu-join">
    <div class="navbar">
        <a href="#" class="menu-sections nav-headlines">
            <img src="../../img/menu-summary-icon.png" alt="summary-icon" class="menu-icons">
            <span>Summary</span>
        </a>
        <a href="#" class="menu-sections nav-headlines">
            <img src="../../img/menu-addtask-icon.png" alt="addTask-icon" class="menu-icons">
            <span>Add Task</span>
        </a>
        <a href="#" class="menu-sections nav-headlines">
            <img src="../../img/menu-board-icon.png" alt="board-icon" class="menu-icons">
            <span>Board</span>
        </a>
        <a href="#" class="menu-sections nav-headlines">
            <img src="../../img/menu-contacts-icon.png" alt="contacts-icon" class="menu-icons">
            <span>Contacts</span>
        </a>
    </div>
    <div class="frame21">
            <a href="" class="pp-container">
                <span class="privacy-police">Privacy Policy</span>
            </a>
            <a href="" class="ln-container">
                <span class="legal-notice">Legal notice</span>
            </a>
    </div>
<div>
